<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <div style="">
        <form action="/restaurants/new" method="GET">
          <button type="submit" class="btn btn-primary">Add new restaurant</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
    <div class="search-bar-outer">
      <div class="search-bar-inner">
        <form action="/restaurants">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group">
            <input type="text" name="searchTerm" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{keyWord}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="select-form">
      <form action="/restaurants" method="GET">
        <select class="form-select" name="option" id="option" aria-label="Default select example" style="width:200px;display:inline;" value="hihi">
          <option selected>Sort</option>
          <option value="byAtoZ" {{#if (eq option 'byAtoZ' )}}selected{{/if}}>A -> Z</option>
          <option value="byZtoA" {{#if (eq option 'byZtoA' )}}selected{{/if}}>Z -> A</option>
          <option value="byCategory" {{#if (eq option 'byCategory' )}}selected{{/if}}>類別</option>
          <option value="byRegion" {{#if (eq option 'byRegion' )}}selected{{/if}}>地區</option>
        </select>
        <input type="submit" value="排序">
      </form>
    </div>
</div>

{{> message}}
<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants as |restaurant| }}
        <div class="mb-4">
        <a href="/restaurant/{{restaurant.id}}" class="text-secondary">
          <div class="card">
            <img class="card-img-top" src="{{restaurant.image}}"
              alt="{{restaurant.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{restaurant.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
              </div>

              <span class="badge rounded-pill bg-danger font-weight-normal">
                {{restaurant.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
          </div>
        </a>
        <a href="/restaurants/{{restaurant.id}}">Detail</a>
        <a href="/restaurants/{{restaurant.id}}/edit">Edit</a>
        <form action="/restaurants/{{restaurant.id}}?_method=DELETE" method="POST" style="display:inline;">
          <input type="submit" value="Delete">
        </form>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div style="text-align: center; margin-bottom: 50px;">
  <form style="display:inline; margin:0 auto;">
    <input type="hidden" name="page" value="{{ prev }}">
    <input type="hidden" name="option" value="{{ option }}">
    <button type="submit" class="btn btn-dark">Prev</button>
  </form>
  <form style="display:inline; margin:0 auto;">
    <input type="hidden" name="page" value="{{ next }}">
    <input type="hidden" name="option" value="{{ option }}">
    <button type="submit" class="btn btn-dark">Next</button>
  </form>
  <span>Page : {{ page }} |  </span>
  <span>Sort: {{ option }}</span>
</div>